<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/MethodChaining/src/com/efunzo/be/training/MethodChaining.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.efunzo.be.training.MethodChaining"/>
    <stringAttribute key="org.eclipse.jdt.launching.MODULE_NAME" value="MethodChaining"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="MethodChaining"/>
</launchConfiguration>
